* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Sodo Semi;
    src: url(../font/SoDo.ttf);
}

@font-face {
    font-family: Sodo-bold;
    src: url(../font/SoDoSans-Bold.ttf);
}

@font-face {
    font-family: Sodo;
    src: url(../font/SoDoSans-Black.ttf);
}

.menu {
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

nav {
    padding: 0px 29px!important;
    background-color: white;
    height: 99.5px;
    line-height: 1.5;
    position: relative;
    width: 100%;
    z-index: 4;
}

.text-end {
    letter-spacing: 0.6rem;
    padding: 0.5rem;
}

.text-end a{
    letter-spacing: 0!important;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-family: Sodo semi;
    font-size: 14.8px;
}

.text-end a:hover {
    color: rgba(0,0,0,.87);
}


.menu-lista {
    padding-left: 1rem;
}

.menu-lista a{
    margin-left: 5px;
    font-family: Sodo;
    font-weight: bold;
    color: rgba(0,0,0,.87);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 12px;
}

.menu-lista a:hover {
    color: #018f5b;
}

.logo {
    width: 50px;
}

.encontre-loja {
    background-color: none;
}

.participe {
    border-radius: 50px!important;
    font-family: Sodo semi!important;
    font-size: 14px!important;
    letter-spacing: .02rem;
    background-color: black!important;
    border: black!important;
    padding: 6px 16px!important;
}

.participe:hover {
    transform: scale(.90);
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
}

.entrar {
    border-radius: 50px!important;
    font-family: Sodo semi!important;
    font-size: 14px!important;
    letter-spacing: .02rem!important;
    border: solid 1px black!important;
    color: black!important;
    padding: 5px 15px!important;
}

.entrar:hover {
    transform: scale(.90);
    background-color: transparent!important;
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 1157px) {
    .historiasb {
        display: none;
    }
}

@media screen and (max-width: 1021px) {
    .clr-black {
        display: none;
    }

    .loja {
        display: none;
    }
}

@media screen and (max-width: 839px) {
    .text-end {
        display: none;
    }
}
